

*, ::before, ::after {
    box-sizing: border-box;
}
body{
	font-size : 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	
}
.main{
	margin-left : 30px;
	margin-top : 60px;
}
.form-group{
  margin-bottom : 24px;
 
  position : relative;
 
}
h1{
	color : rgb(164, 0, 0);
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
#launch-dialog {
  background: tomato;
  border-radius: 4px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0.5rem 1rem;
  position: static;
}


.amazing-input{

  display : block;
  width : 100%;
  padding-top : 1.675rem;
  padding-bottom : 0.333rem;
  background-image : linear-gradient(to top, rgb(240,30,30) 2px, rgba(156,39,176,0) 1px);
  background-position-x : center;
  background-position-y : bottom;
  background-repeat : no-repeat;
  background-origin : padding-box;
  background-clip: border-box;
  background-size : 0% 100%;
  border : none;
  border-bottom : 1px solid  rgb(160, 167, 156);
  
}
.amazing-input:focus{
   background-size : 100% 100%;
   transition-duration: 0.3s;
}

.bubble-label{
  	color: #AAAAAA;
  	position: absolute;
	will-change: left, top, contents;
	margin: 0;
	line-height: 1.4;
	font-weight: 400;
	font-size: 0.875rem;
  	top: 1.6rem;
	pointer-events: none;
	transition: 0.3s ease all;
}
.active .bubble-label {
	top : 0.2rem;
	font-size : 0.8rem;
}
 .is-filled .bubble-label{
	top : 0.2rem;
	font-size : 0.8rem;
}
.input-assist{
	position : absolute;
	display : none;
	font-weight: normal;
	
}
.form-group .input-assist{
	margin-top: 0;
	font-size: 0.75rem;	
	
}

.form-group.active .input-assist{
	display : block;
	
}
.has-success .form-control-success {
    color:  #4caf50;
    opacity: 1;
}

.form-control-success {
    position: absolute;
	display : none;
    top: 1.75rem;
    right: 0;
    z-index: 2;
  
}
.is-valid .form-control-success{
	display : block;
	color : green;
}
.not-valid .form-control-success{
	display : block;
	color : rgb(239, 41, 41);
}
.red{
	color : red;
}
.green{
	color : green;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-input{
	padding-top : 1.25rem;
	padding-right : 12px;
}



.form-checkbox {
    position: relative;
    display: block;
	margin-bottom: .5rem;
	padding-left: 0;
	
}

.form-checkbox, label {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

.form-checkbox .form-checkbox-input {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.form-checkbox-label {
    margin-bottom: 0;
}
.form-checkbox .form-checkbox-label {
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}
.form-checkbox .form-checkbox-input {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
	position: absolute;
	margin: 0;
	z-index: -1;
	left: 0;
	pointer-events: none;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
input{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;	
	
}
.form-checkbox .form-checkbox-label span {
    display: block;
    position: absolute;
    left: -1px;
    transition-duration: 0.2s;
}

.form-checkbox .form-checkbox-label .circle {
    border: 1px solid  rgba(0, 0, 0, .54);
    height: 15px;
    width: 15px;
    border-radius: 100%;
    top: 1px;
}

.form-checkbox .form-checkbox-label .circle .check {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #9c27b0;
	transform: scale3d(0, 0, 0);
}


.form-checkbox .form-checkbox-input:checked~.circle .check {

  -webkit-transform: scale3d(0.65, 0.65, 1);
  -moz-transform: scale3d(0.65, 0.65, 1);
  -o-transform: scale3d(0.65, 0.65, 1);
  -ms-transform: scale3d(0.65, 0.65, 1);
  transform: scale3d(0.65, 0.65, 1);
}
.form-checkbox .form-checkbox-label .circle::before {
    display: block;
    position: absolute;
    left: -1px;
    content: "";
    background-color: rgb(46, 52, 54);
	height: 15px;
	width: 15px;
	border-radius: 100%;
	z-index: 1;
	opacity: 0;
	margin: 0;
	top: -1px;
    transform: scale3d(2.3, 2.3, 1);
}
.form-checkbox .form-checkbox-input:checked ~ .check, .form-checkbox .form-checkbox-input:checked ~ .circle {
    opacity: 1;
}

.form-checkbox .form-checkbox-label .form-checkbox-input:checked + .circle::before {
    animation: rippleOn .5s;
}
.form-checkbox .form-checkbox-label .form-checkbox-input:checked + .circle .check::before {
    color:  #FFFFFF;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    animation: checkboxOn 0.3s forwards;
}


@keyframes checkboxOn {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@keyframes rippleOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}


/*

Here we heva an exploration field...

*/


label{
	display : block;
}

.check-wrapper{
	padding : 1rem  0 1rem 1rem;
	margin-bottom : 1rem;
	border : 1px solid red;
	border-radius : 0.75rem;
	position: relative;
}
.checkbox-input{
	display : inline-block;
	
}
.checkbox-text{
	padding-left : 18px;
	user-select : none;
}
.checkbox-label{
	position : absolute;
	top : -0.88rem;
	left : 25px;
	background-color : #ffffff;
	padding : 0 4px 0 4px;
}
.check-wrapper .checkbox-label{
	line-height : 1.5rem;
	font-size : inherit;
}
.input-group{
	position : relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding : 1rem  0 1rem 0;
	border : 1px solid rgb(239, 41, 41);
}
.input-label{
	position : absolute;
	background-color : #ffffff;
	padding : 0 4px 0 4px;
	left : 2rem;
	top : -0.75rem;
	user-select : none;
	display : inline-block;
}
.input-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.custom-input{
	display : inline-block;
	border : 1px solid rgb(211, 215, 207);
}
.input-icon{
	height: 100%; 
	padding-left : 4px;
	padding-right : 4px;
	background-color : rgb(211, 215, 207);
	border : 1px solid rgb(211, 215, 207);
	border-radius : 4px 0 0 4px;
	
}
.input-button:not(:disabled):not(.disabled){
	
    cursor: pointer;
	user-select: none;
	color:#fff;
	background-color:#007bff;
	border-color:#007bff;
	border-radius : 0 4px 4px 0;
	
}

