
@mixin mix-amazing-input-linear-gradient( $linear_gradient ){
	 background-image : $linear_gradient;
}

@mixin mix-amazing-input-padding( $top, $bottom ){
  	  padding-top : $top;
	  padding-bottom : $bottom;
}	
