$bg-size_0_100 : 0 100%;
$bg-size_100_100 : 100% 100%; 

$amazing-input-boreder-bottom : 1px solid  rgb(160, 167, 156);
$amazing-input-linear-gradient : linear-gradient(to top, rgb(240,30,30) 2px, rgba(156,39,176,0) 1px) !default;
$amazing-input-padding-top : 1.675rem !default;
$amazing-input-padding-bottom : 0.333rem !default;